*{
    margin: 0;
}

h1,p{
    display: inline-block;
    margin-top: 15px;
}

.header{
    color: white;
    background-color: black; 
    height: 90px;
    text-align: left;
    text-align: center;
    

}
p{
    color: gray;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    
}
p:hover{
    color: white;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-top: 70px;
    width: 220px; height: 316px;
    display: inline-block;
    text-align: center;
    
}
p2{
    padding: 2%;
    margin-top: 8%;
    background-color: black;
    color: white;
    display: inline-block;
} 

.img{
    height: 216px; width: 220px;
}
    

.box{
    display: inline-block;
    text-align: center;
}
.box:hover{
    background-color: black;
    color: white;
}

.bottom{
    color: white;
    background-color: black;
    width: 100%;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.bottom{
    text-align: center;
}

.send{
    background-color: yellow;
    width: 300px;
    padding-top: 6px;
    text-align: center;

    
}
.send:hover{
    background-color: orange;
}