*{
    cursor: pointer;
}


body{
    color: white; background-color: black;
}
img{
    float: left;
}
h2{
    font-style: oblique ;
}
table{
    font-size: larger;
}
p{
    font-style: initial;
}
div{
    font-size: 15;
}
.contact{
    padding-top: 30px;
    display: inline-block;
     margin-: 100px;
    
}
nav{
    
    display: inline-block;
    margin-right: 50px;
}
.summary{
    margin-left: 50px; margin-right: 50px;
}