
*{
    margin: 0;
    margin: 0;
}
.header{
    color: white;
    background-color: black;
    padding: 15px;
   }

h1,ul,li{
    display: inline;
}

li{
    color: gray;
    cursor: pointer;
    
}
li:hover{
    color: white;
}
.search{
    padding: 30px;
}
input{
    width: 60%; padding: 5px;
     }
     .box1{
        border-color: black;
        border-width: 2px;
        border-style: solid;
        width: 220px; 
        text-align: center;
        display: inline-block;
     }
     .box1:hover{
        background-color: black;
        color: white;
     }

     .products{
        
        text-align: center;
        margin-top: 20px;
     }
     .about{
        text-align: center;
        margin-top: 20px;
        padding: 40px;
     }

     .contact {
        width: 1350px; height: 260px;
         color: white;
        background-color: black;
        text-align: center;
        padding-top: 30px;
     }

     p{
        color: gray;
        padding-top: 30px;
     }
    


    

    